.quoteComponent {
    padding: 40px 10px;
    background-color: white;
    flex-basis: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em;
    box-shadow: 0px 0px 40px 5px yellowgreen;
    min-width: 550px;
}

.quote_text {
    font-size: 36pt;
    padding: 15px;
    margin: 20px;
}

.buttonContainer {
    justify-items: right;
}

.main-button {
    display:inline-block;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#ECB176;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
}

.main-button:hover {
  background-color: #F4E4CD;
}