.quoteComponent {
    padding: 40px 10px;
    background-color: white;
    flex-basis: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 5px yellowgreen;
}

.quote_text {
    font-size: 36pt;
    padding: 15px;
    margin: 20px;
}

.buttonContainer {
    justify-items: right;
}