.master-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.master-list div:hover {
    background-color: whitesmoke;
}

.master {
    text-align: center;
    width: 20%;
    margin: 10px;
    padding: 5px;
    font-size: 14pt;
}

/* Styling for Master Detail, when the user selects their master */
.masterSelection {
    width: 30%;
    background-color: white;
    margin: 30px auto;
    align-content: center;   
    border-radius: 10px;
}

.masterComponent {
    width: 60%;
    background-color: white;
    margin: auto;
    padding: 20px;
    margin: 40px auto;
    align-content: center;
}

.masterComponent Link {
    justify-self: right;
}

.master__selected {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.master__avatar {
    width: 150px;
    margin: auto;
}

.master__image {
    width: 350px;
    margin: auto;
}

h2 {
    margin: 5px;
}

img {
    width: 100px;
    height: auto;
    border-radius: 5%;
}

.masterDetail {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.masterDetail div, button {
    margin: 15px;
}

button {
    width: 100px;
    align-self: center
}