.theme-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #1F1F1F;
}

.theme-list div:hover {
    background-color: #fdf2e4;
}

.theme__color {
    height: 400px;
    width: auto;
}

.themeComponent {
    width: 60%;
    background-color: #F0D5B4;
    margin: auto;
    padding: 10px;
    margin: auto;
    align-content: center;
    border-radius: .2em;
    color: #1F1F1F;
    box-shadow: 0px 0px 40px 5px yellowgreen;
}

.themeComponent h1 {
    color: #1F1F1F;
}

.themeComponent Link {
    justify-self: right;
    color: #1F1F1F;
}

.main-button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #E8B087;
    text-align: center;
    transition: all 0.2s;
  }

.main-button:hover {
  background-color: #F4E4CD;
}