body {
    margin: 0;
}
.header {
    background-color: slateblue;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.header__logo {
    font-size: 24px;
    align-self: flex-start;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.mastersQuotes {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__link:hover {
    color: lavender;
}