body {
    margin: 0;
    background-color: lavender;
}
.header {
    background-color: slateblue;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.header__logo {
    font-size: 24px;
    align-self: flex-center;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding: 10px 20px 30px;
}

.jediQuotes {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__link:hover {
    color: lavender;
}

.header__user {
    display: flex;
}

.user__info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

header img {
    width: 100px;
    margin-left: 20px;
}

.footer {
    display: flex;
    background-color: slateblue;
    color: white;
    margin-top: 5%;
}

.footer p {
    margin: 10px 5px;
}

.footer a {
    color: white;
}