body {
    margin: 0;
    background-color: #F4E4CD;
    min-height: fit-content;
    background-image: url("/src/images/tiny-stars.jpeg");
}

h1 {
    text-align: center;
    padding: 10px 20px 30px;
}

.light-side {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.root {
    position: relative;
}
  

/* Styling for the main container for the quote on home */
.jediQuotes {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 4;
}

/* Styling for header */
.header {
    background-color: #BB583A;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.header__logo {
    font-size: 24px;
    align-self: flex-center;
    color: white;
    text-decoration: none;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__link:hover {
    color: #F4E4CD;
}

.header__user {
    display: flex;
}

.user__info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

header img {
    width: 100px;
    margin-left: 20px;
}

/* Styling for footer */
.footer {
    display: flex;
    background-color: #ECB176;
    color: #1F1F1F;
    margin-top: 10%;
    position: static;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 10px 5px;
}

.footer a {
    color: #1F1F1F;
}