.noteComponent {
    padding: 10px;
}

h1 {
    color: white;
    font-size: 30pt;
}

.noteCard, .noteForm {
    border: #E8B087 30px solid;
    padding: 25px 25px 10px;
    font-size: 20px;
    margin: auto;
    width: 70%;
    margin-top: 30px;
    background-color: white;
}

.noteCard {
    margin-bottom: 40px;
}

.noteCard div {
    margin: 2px;
}

.noteForm {
    text-align: center;
    margin-top: 50px;
}

.note__head {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    margin-left: 85%;
}