.noteComponent {
    padding: 30px;
}

.noteCard, .noteForm {
    border: lavender 40px solid;
    padding: 30px;
    font-size: 20px;
    margin: auto;
    width: 70%;
}

.noteCard div {
    margin: 2px;
}

.noteForm {
    text-align: center;
}