.jedi-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    color: #1F1F1F;
}

.jedi-list div:hover {
    background-color: #E8B087;
}

.jedi {
    text-align: center;
    width: 20%;
    margin: 10px;
    padding: 10px;
    font-size: 14pt;
    color: #1F1F1F;
}

/* Styling for jedi Detail, when the user selects their jedi */
.jediSelection {
    width: 30%;
    background-color: white;
    margin: 30px auto;
    margin-left: 30px;
    align-content: center;   
    border-radius: 10px;
    color: #1F1F1F;
}

.jediComponent {
    width: 60%;
    background-color: #F0D5B4;
    margin: auto;
    padding: 10px;
    margin: 40px auto;
    align-content: center;
    border-radius: 2%;
    color: #1F1F1F;
}

.jediComponent h1 {
    color: #1F1F1F;
}

.jediComponent Link {
    justify-self: right;
    color: #1F1F1F;
}

.jedi__selected {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.jedi__avatar {
    width: 150px;
    margin: auto;
}

.jedi__name {
    font-size: 28pt;
}

.jedi__image {
    width: 350px;
    margin: auto;
}

.jediSelect__name {
    font-size: 18pt;
}

h2 {
    margin: 5px;
}

h4 {
    margin: 5px;
}

img {
    width: 100px;
    height: auto;
    border-radius: 5%;
}

.jediDetail {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    margin: 40px;
    background-color: #F4E4CD;
    border-radius: 5%;
}

.jediDetail div, button {
    margin: 15px;
}

button {
    width: 100px;
    align-self: center
}