body {
    background-image: url("/src/images/tiny-stars.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form--login h1 {
    background-color: #BB583A;
}

fieldset {
    border: none;
}

.container--login, .register {
    background-color: #F4E4CD;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.link--register {
    padding: 10px;
    padding-bottom: 30px;
}